.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #411212;
}

.navbar IoIosDesktop{
    font-size: 2em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
}

.item a{
    color: black;
    text-decoration: none;
}

.item a:hover{
    color: white;
}

.navbar .logo{
    min-height: 2rem;
    min-width: 2rem;
    max-height: 3rem;
    max-width: 3rem;
    border-radius: 50%;
    flex-grow: block;
}